.grid-container {
    display: grid;                                                
    grid-auto-rows: 50px;                                         
    grid-gap: 10px;                                               
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));   
  }
  
  .item1 {
    grid-row: span 5;
    background-color: #1CFFD7;
  }

  .item2 {
    grid-row: span 6;
    background-color: #1AE9EB;
  }
  
  .item3 {
    grid-row: span 5;
    background-color: #23D5FF;
  }

  .item4 {
    grid-row: span 5;
    background-color: #42BBFF;
  }

  .item5 {
    grid-row: span 5;
    background-color: #3DFF99;
  }

  .item6 {
    grid-row: span 6;
    background-color: #0278FF;
  }
  
  .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    font-weight: bold;
    color: black;
  }

@media only screen and (max-width: 320px){
  .grid-container {
    display: grid;                                                
    grid-auto-rows: 50px;                                         
    grid-gap: 10px;                                              
    grid-template-columns: 1fr;  
  }
}
  