.App {
  text-align: center;
  background-color: #484C58;
  height: 100vh;
  /* display: grid;
  grid-template-rows: 60px auto */
}

.App-landing{
  background-image: url("./images/LandingBackground.png");
  height: 100vh;
  background-size: cover;
}

.App-profile{
  background-color: #484C58;

}

.App-group{
  background-color: #484C58;

}


