.App {
  text-align: center;
  background-color: #484C58;
  height: 100vh;
  display: grid;
  grid-template-rows: 55px auto;
}

.App-landing{
  background: url("./images/LandingBackground.png")
  no-repeat center right fixed;
  background-size: cover;
}

.App-profile{
  background-color: #484C58;

}

.App-group{
  background-color: #484C58;

}

.App-getting-started{
  background-color: #484C58;

}

.header-footer {
  height: 50px;
  padding: 10px;
  margin: 1.8rem 0;
  font-size: 2rem;
  color: white;
  text-align: center;
}

.btn-primary, .btn-secondary{
  margin: 1.5rem;
}

